.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



/* shared style */
.text-primary {
    color: #FD6E0A;
}
.secondary-bg{
    background-color: #cfc4bc;
}
.dark_2{
    color:#474747
}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
     align-items: center;  
     /*allign item er kaj vertically center e ana */
     margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {

    text-decoration: none;

}

.btn-primary{
    background-color: #FD6E0A;
    color:white;
    border: none;
    font-size: 20px;
    padding:18px 35px 19px 36px;
    border-radius: 5px;
}
/* header style */
.header{
    background-image: url(../images/developer.png) ,url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* banner style */ 
.banner{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 200px;
}
.banner-content{
    max-height: 350px;
    max-width: 580px;
}
.banner-image-profile{
   max-width:580px;

 
}




.grettings{
    /* width:171px;
    height:31px; */
    font-weight: 500;
    font-size:45px;
}
.banner-title{
    font-weight:bold;
    font-size: 85px;
    /* height: 116px;
    width:498px; */
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
   
}


/* section style */
.section-title{
    font-weight: bold;
    font-size:35px;
}

.section-description{
    font-weight:400;
    font-size:18px;
}

/* about styles */
.about{
   padding: 130px 150px; 
   border-radius: 10px;
   margin-top:100px;
}
.item-description{
 font-weight: bold;
 font-size:20px;
}
.about-items{
    display:flex;
    justify-content: space-around;

}


